/*
Theme Name: Rote Tools - SPD
Theme URI: https://rote.tools
Author: Rote Tools
Description: Ein Theme für die SPD beruhend auf dem Twenty Twenty-Three Theme.
Requires at least: 6.1
Tested up to: 6.1
Requires PHP: 5.6
Version: 1.0
License: GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/old-licenses/gpl-2.0.html
Text Domain: rtwp
Template: twentytwentythree
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, block-patterns, rtl-language-support, sticky-post, threaded-comments, translation-ready, wide-blocks, block-styles, accessibility-ready, blog, portfolio, news
*/

.wp-site-blocks {
    padding-top:0;
}

.arrow-up {
    position:relative;
    width: 0;
    height: 0;
    border-left: 45px solid transparent;
    border-right: 45px solid transparent;

    border-bottom: 45px solid white;
    top:-45px;
    margin-left:auto;
    margin-right:auto;
}

.fron a img {
}

@media (max-width: 601px) {
    .front a img {
        max-width:250px;}

    .hp-title{font-size:clamp(1.8rem, 2rem + ((1vw - 0.48rem) * 2.163), 3rem)!important;}


    .top-button .wp-block-button {width:40%!important;}

}