/*
Theme Name: Rote Tools - SPD
Theme URI: https://rote.tools
Author: Rote Tools
Description: Ein Theme für die SPD beruhend auf dem Twenty Twenty-Three Theme.
Requires at least: 6.1
Tested up to: 6.1
Requires PHP: 5.6
Version: 0.912
License: GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/old-licenses/gpl-2.0.html
Text Domain: rtwp
Template: twentytwentythree
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, block-patterns, rtl-language-support, sticky-post, threaded-comments, translation-ready, wide-blocks, block-styles, accessibility-ready, blog, portfolio, news
*/

/* Breakpoints */

$breakpoint-sm: 960px;
$breakpoint-md:1000px;
$breakpoint-lg: 1200px;



/* Header */
.rtwp-head-container{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 0em 1em;
}

.rtwp-scroll{
    .rtwp-block-navlogo{
        background-color: #fff;
    }
    .rtwp-head-logo{
        img{ 
        max-height: 6em;
        }
    }
}

.rtwp-head-logo{
    img{
        max-width: 30em;
        height: auto;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }
}

.wp-block-navigation__responsive-container-close svg, .wp-block-navigation__responsive-container-open svg {
    fill: var(--wp--preset--color--primary);
    display: block;
    height: 50px;
    pointer-events: none;
    width: 50px;
  }

  .rtwp-button{
    text-align: center;
    max-width: 25em;
    min-width: 10em;
    height: 3em;
    border-radius: 100px;
    background-color: black;
    color: white;
    align-self: flex-end;
    padding: 0.5em;
    margin-top: auto;
    margin-bottom: 1em;
    margin-right: 1em;
    a {
        text-decoration: none;
        :focus{
            text-decoration: dotted;
        }
        font-size: 1.5em;
    }
}