// Farben

$red: var(--wp--preset--color--primary);

// Design-Elemente für Kacheln

.element-pfeil-weiss{
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/arrow_10_white.svg);
}

.element-pfeil-schwarz{
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/arrow_10_black.svg);
}

.element-doppelpfeil-weiss{
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/doppelpfeil_weiss.svg);
}

.element-quote-weiss-umrandung{
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/quote_outline_white.svg);
}

.element-quote-weiss{
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../images/quote_white.svg);
}

.rtwp-block-tiletopic, .rtwp-block-tilequote, .rtwp-block-tileimage{
    padding: 0!important;
}

// Haupt-Kachelcontainer

.rtwp-tile-md{
    position: relative;
    z-index: 20;
    min-height: 30em;
    height: auto;
    overflow: hidden;
    background-color: var(--wp--preset--color--primary);
    @media (max-width:$breakpoint-md) {
        font-size: 0.75em;
    }
    .is-style-gap &{
        margin: 0.5em;
    }
    .is-style-white-redborder &{
        background-color: unset;
        border-color: var(--wp--preset--color--primary);
        border-width: 0.75em;
        border-style: solid;
    }
    .is-style-white-redborder-dashed & {
        background-color: unset;
        border-color: var(--wp--preset--color--primary);
        border-width: 0.75em;
        border-style: dashed;
    }
    .is-style-white-blackborder &{
        background-color: unset;
        border-color: var(--wp--preset--color--secondary);
        border-width: 0.75em;
    }
}


//Kachel Inner
.tile-container{
    padding: 2.5em 1em; 
}

.tile-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: calc(100% - 7.3em);
    height: calc(100% - 8em);
    z-index: 20;
    top:8em;
    left:7.3em;
    background-color: var(--wp--preset--color--primary);
    padding: 1em 1em;
    hyphens: auto;
    @media (max-width: $breakpoint-md){
    }
    
}
.tile-headline{
    font-size:1.5em;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 0.9;
    margin-bottom: 0.5em;
}
.tile-title{
    font-size: 2.5em;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    line-height: 1;
}

.tile-element{
    position: relative;
    height: 12em;
    max-width: 12em;
    z-index: 10;
}

.image-container{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    .is-style-imagecontain &{
        background-size: contain;
        background-position: center;
        
    }
    .rtwp-tile-md &{
        background-color: unset;
    }    
}

.wp-block-image{
    position: relative;
}
.rtwp-image{
    position: relative;
    width: fit-content;
}

.img-container{
    position: absolute;
    display: contents;    
}

.rtwp-container .wp-block-cover{
    &.has-parallax .wp-block-cover__image-background{
            margin: 0.4em;
            height: auto;
            width: auto;        
        }

        :not(.has-parallax) .wp-block-cover__image-background{
            height: calc(100% - 0.8em);
            width: calc(100% - 0.8em);
            top: 0.4em;
            left: 0.4em;
        }
    }
    

.rtwp-ml-over{
    position: absolute;
    bottom: 0em;
    right: 0em;
    padding: 0em 0.2em;
    font-size: 0.5em;
    background-color: #eee;
    opacity: 0.5;
    .wp-block-gallery &{
        display: block!important;
    }
    .wp-block-gallery.alignfull &{
        right: var(--wp--style--root--padding-right);
    } 
    & a{
        text-decoration: none;
        &:hover{
            text-decoration:dotted!important;
        }
    }
    .rtwp-container .wp-block-cover &{
        bottom: 0.7em;
        right: 0.7em;
    }

    .wp-block-cover & {
        z-index: 150;
    }
}

.wp-block-media-text__media{
        position: relative;
}

.quote-container{
    position:absolute;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    .is-style-quoteimagecover &{
       background-size: cover;
       background-repeat: no-repeat; 
    }
}

.quote-opacity{
    .is-style-quoteimagecover &{
        position:absolute;
        z-index: 110;
        background-color: var(--wp--preset--color--primary);
        height: 100%;
        width: 100%;
        opacity: 0.5;
    }
}
.quote-content{
    display: flex;
    flex-direction: column;
    z-index: 150;
    align-self: center;
    padding: 3em 2em 1em 3em;
    margin-left: 2em;
    hyphens: auto;
    @media (max-width: $breakpoint-md){
    }
    background-size: 6em;
    background-repeat: no-repeat;
    background-image: url(../images/quote_black.svg);
    .is-style-quoteone-black &{
        background-image: url(../images/quote_white.svg);
    }
    .is-style-white-blackborder, .is-style-white-redborder, .is-style-white-redborder-dashed &{
        background-image: url(../images/quote_outline_black.svg);
    }
}

.tile-quote{
    font-size: 2.5em;
    font-weight: 800;
    color: #ffffff;
    line-height: 1;
    padding-bottom: 0.1em;
    .is-style-quoteone-black &{
        color:#000;
    }
    .is-style-white-blackborder, .is-style-white-redborder, .is-style-white-redborder-dashed &{
        color: $red;
    }
}

.tile-author{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 800;
    text-align: end;
    line-height: 1;
    color: #000;
    .is-style-quoteone-black, .is-style-quoteimagecover & {
        color: #ffffff;
    } 
}

.tile-function{
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 200;
    text-align: end;
    line-height: 1;
    color: #000;
    .is-style-quoteone-black, .is-style-quoteimagecover &{
        color: #ffffff;
    }
}
