@charset "UTF-8";
/*
Theme Name: Rote Tools - SPD
Theme URI: https://rote.tools
Author: Rote Tools
Description: Ein Theme für die SPD beruhend auf dem Twenty Twenty-Three Theme.
Requires at least: 6.1
Tested up to: 6.1
Requires PHP: 5.6
Version: 0.912
License: GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/old-licenses/gpl-2.0.html
Text Domain: rtwp
Template: twentytwentythree
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, block-patterns, rtl-language-support, sticky-post, threaded-comments, translation-ready, wide-blocks, block-styles, accessibility-ready, blog, portfolio, news
*/
/* Header */
.rtwp-head-container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0em 1em;
  background-color: white;
}

.rtwp-head-logo img {
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
}