@charset "UTF-8";
/*
Theme Name: Rote Tools - SPD
Theme URI: https://rote.tools
Author: Rote Tools
Description: Ein Theme für die SPD beruhend auf dem Twenty Twenty-Three Theme.
Requires at least: 6.1
Tested up to: 6.1
Requires PHP: 5.6
Version: 0.912
License: GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/old-licenses/gpl-2.0.html
Text Domain: rtwp
Template: twentytwentythree
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, block-patterns, rtl-language-support, sticky-post, threaded-comments, translation-ready, wide-blocks, block-styles, accessibility-ready, blog, portfolio, news
*/
/* Breakpoints */
/* Header */
.rtwp-head-container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0em 1em;
}

.rtwp-scroll .rtwp-block-navlogo {
  background-color: #fff;
}
.rtwp-scroll .rtwp-head-logo img {
  max-height: 6em;
}

.rtwp-head-logo img {
  max-width: 30em;
  height: auto;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.wp-block-navigation__responsive-container-close svg, .wp-block-navigation__responsive-container-open svg {
  fill: var(--wp--preset--color--primary);
  display: block;
  height: 50px;
  pointer-events: none;
  width: 50px;
}

.rtwp-button {
  text-align: center;
  max-width: 25em;
  min-width: 10em;
  height: 3em;
  border-radius: 100px;
  background-color: black;
  color: white;
  align-self: flex-end;
  padding: 0.5em;
  margin-top: auto;
  margin-bottom: 1em;
  margin-right: 1em;
}
.rtwp-button a {
  text-decoration: none;
  font-size: 1.5em;
}
.rtwp-button a :focus {
  text-decoration: dotted;
}

.element-pfeil-weiss {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/arrow_10_white.svg);
}

.element-pfeil-schwarz {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/arrow_10_black.svg);
}

.element-doppelpfeil-weiss {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/doppelpfeil_weiss.svg);
}

.element-quote-weiss-umrandung {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/quote_outline_white.svg);
}

.element-quote-weiss {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/quote_white.svg);
}

.rtwp-block-tiletopic, .rtwp-block-tilequote, .rtwp-block-tileimage {
  padding: 0 !important;
}

.rtwp-tile-md {
  position: relative;
  z-index: 20;
  min-height: 30em;
  height: auto;
  overflow: hidden;
  background-color: var(--wp--preset--color--primary);
}
@media (max-width: 1000px) {
  .rtwp-tile-md {
    font-size: 0.75em;
  }
}
.is-style-gap .rtwp-tile-md {
  margin: 0.5em;
}
.is-style-white-redborder .rtwp-tile-md {
  background-color: unset;
  border-color: var(--wp--preset--color--primary);
  border-width: 0.75em;
  border-style: solid;
}
.is-style-white-redborder-dashed .rtwp-tile-md {
  background-color: unset;
  border-color: var(--wp--preset--color--primary);
  border-width: 0.75em;
  border-style: dashed;
}
.is-style-white-blackborder .rtwp-tile-md {
  background-color: unset;
  border-color: var(--wp--preset--color--secondary);
  border-width: 0.75em;
}

.tile-container {
  padding: 2.5em 1em;
}

.tile-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: calc(100% - 7.3em);
  height: calc(100% - 8em);
  z-index: 20;
  top: 8em;
  left: 7.3em;
  background-color: var(--wp--preset--color--primary);
  padding: 1em 1em;
  hyphens: auto;
}
.tile-headline {
  font-size: 1.5em;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 0.9;
  margin-bottom: 0.5em;
}

.tile-title {
  font-size: 2.5em;
  font-weight: 800;
  text-transform: uppercase;
  color: white;
  line-height: 1;
}

.tile-element {
  position: relative;
  height: 12em;
  max-width: 12em;
  z-index: 10;
}

.image-container {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.is-style-imagecontain .image-container {
  background-size: contain;
  background-position: center;
}
.rtwp-tile-md .image-container {
  background-color: unset;
}

.wp-block-image {
  position: relative;
}

.rtwp-image {
  position: relative;
  width: fit-content;
}

.img-container {
  position: absolute;
  display: contents;
}

.rtwp-container .wp-block-cover.has-parallax .wp-block-cover__image-background {
  margin: 0.4em;
  height: auto;
  width: auto;
}
.rtwp-container .wp-block-cover :not(.has-parallax) .wp-block-cover__image-background {
  height: calc(100% - 0.8em);
  width: calc(100% - 0.8em);
  top: 0.4em;
  left: 0.4em;
}

.rtwp-ml-over {
  position: absolute;
  bottom: 0em;
  right: 0em;
  padding: 0em 0.2em;
  font-size: 0.5em;
  background-color: #eee;
  opacity: 0.5;
}
.wp-block-gallery .rtwp-ml-over {
  display: block !important;
}
.wp-block-gallery.alignfull .rtwp-ml-over {
  right: var(--wp--style--root--padding-right);
}
.rtwp-ml-over a {
  text-decoration: none;
}
.rtwp-ml-over a:hover {
  text-decoration: dotted !important;
}
.rtwp-container .wp-block-cover .rtwp-ml-over {
  bottom: 0.7em;
  right: 0.7em;
}
.wp-block-cover .rtwp-ml-over {
  z-index: 150;
}

.wp-block-media-text__media {
  position: relative;
}

.quote-container {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}
.is-style-quoteimagecover .quote-container {
  background-size: cover;
  background-repeat: no-repeat;
}

.is-style-quoteimagecover .quote-opacity {
  position: absolute;
  z-index: 110;
  background-color: var(--wp--preset--color--primary);
  height: 100%;
  width: 100%;
  opacity: 0.5;
}

.quote-content {
  display: flex;
  flex-direction: column;
  z-index: 150;
  align-self: center;
  padding: 3em 2em 1em 3em;
  margin-left: 2em;
  hyphens: auto;
  background-size: 6em;
  background-repeat: no-repeat;
  background-image: url(../images/quote_black.svg);
}
.is-style-quoteone-black .quote-content {
  background-image: url(../images/quote_white.svg);
}
.quote-content .is-style-white-blackborder, .quote-content .is-style-white-redborder, .is-style-white-redborder-dashed .quote-content {
  background-image: url(../images/quote_outline_black.svg);
}

.tile-quote {
  font-size: 2.5em;
  font-weight: 800;
  color: #ffffff;
  line-height: 1;
  padding-bottom: 0.1em;
}
.is-style-quoteone-black .tile-quote {
  color: #000;
}
.tile-quote .is-style-white-blackborder, .tile-quote .is-style-white-redborder, .is-style-white-redborder-dashed .tile-quote {
  color: var(--wp--preset--color--primary);
}

.tile-author {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 800;
  text-align: end;
  line-height: 1;
  color: #000;
}
.tile-author .is-style-quoteone-black, .is-style-quoteimagecover .tile-author {
  color: #ffffff;
}

.tile-function {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 200;
  text-align: end;
  line-height: 1;
  color: #000;
}
.tile-function .is-style-quoteone-black, .is-style-quoteimagecover .tile-function {
  color: #ffffff;
}