<!-- wp:group {"tagName":"header","align":"full","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"default"}} -->
<header class="wp-block-group alignfull"><!-- wp:cover {"url":"https://wp.matthias-lueth.de/wp-content/uploads/2023/08/andreas-kind-9TfY2kkhSqQ-unsplash-cropped-scaled-1.jpeg","id":125,"dimRatio":0,"minHeight":100,"minHeightUnit":"vh","contentPosition":"center center","isDark":false,"style":{"spacing":{"margin":{"top":"0"},"padding":{"top":"var:preset|spacing|30","right":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30"}}}} -->
    <div class="wp-block-cover is-light" style="margin-top:0;padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30);min-height:100vh"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-0 has-background-dim"></span><img class="wp-block-cover__image-background wp-image-125" alt="" src="https://wp.matthias-lueth.de/wp-content/uploads/2023/08/andreas-kind-9TfY2kkhSqQ-unsplash-cropped-scaled-1.jpeg" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:group {"tagName":"header","style":{"spacing":{"blockGap":"var:preset|spacing|80"}},"className":"cover-spd","layout":{"type":"default"}} -->
        <header class="wp-block-group cover-spd"><!-- wp:columns {"isStackedOnMobile":false,"style":{"border":{"width":"0px","style":"none"},"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}}} -->
            <div class="wp-block-columns is-not-stacked-on-mobile" style="border-style:none;border-width:0px;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:column {"verticalAlignment":"center","width":"","layout":{"type":"default"}} -->
                <div class="wp-block-column is-vertically-aligned-center"><!-- wp:social-links {"iconColor":"base","iconColorValue":"#ffffff","size":"has-normal-icon-size","align":"right","className":"is-style-logos-only","layout":{"type":"flex","justifyContent":"right","orientation":"horizontal","flexWrap":"nowrap"}} -->
                    <ul class="wp-block-social-links alignright has-normal-icon-size has-icon-color is-style-logos-only"><!-- wp:social-link {"url":"instagram.com","service":"instagram"} /-->

                        <!-- wp:social-link {"url":"facebook.com","service":"facebook"} /-->

                        <!-- wp:social-link {"url":"dresden.network","service":"mastodon"} /--></ul>
                    <!-- /wp:social-links --></div>
                <!-- /wp:column --></div>
            <!-- /wp:columns -->

            <!-- wp:spacer {"height":"1px","style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"0"}}}} -->
            <div style="margin-top:var(--wp--preset--spacing--50);margin-bottom:0;height:1px" aria-hidden="true" class="wp-block-spacer"></div>
            <!-- /wp:spacer -->

            <!-- wp:group {"layout":{"type":"default"}} -->
            <div class="wp-block-group front">
            <div class="wp-block-site-logo"><a href="https://wp-dev.rote.tools/" class="custom-logo-link" rel="home" aria-current="page">
                <img src="/wp-content/themes/twentythree-spd/assets/images/logo.png" class="custom-logo" alt="dreiundzwanzig" decoding="async" srcset="https://wp.matthias-lueth.de/wp-content/uploads/2023/08/SPD_Logo_Rot_RGB.png 2941w, https://wp.matthias-lueth.de/wp-content/uploads/2023/08/SPD_Logo_Rot_RGB-300x71.png 300w, https://wp.matthias-lueth.de/wp-content/uploads/2023/08/SPD_Logo_Rot_RGB-1024x243.png 1024w, https://wp.matthias-lueth.de/wp-content/uploads/2023/08/SPD_Logo_Rot_RGB-768x182.png 768w, https://wp.matthias-lueth.de/wp-content/uploads/2023/08/SPD_Logo_Rot_RGB-1536x364.png 1536w, https://wp.matthias-lueth.de/wp-content/uploads/2023/08/SPD_Logo_Rot_RGB-2048x485.png 2048w" sizes="(max-width: 400px) 100vw, 400px"></a></div>


                <!-- wp:paragraph {"style":{"typography":{"fontStyle":"normal","fontWeight":"900","fontSize":"4.5rem"}},"textColor":"base","className":"hp-title"} -->
                <p class="hp-title has-base-color has-text-color" style="font-size:4.5rem;font-style:normal;font-weight:900">DRESDEN</p>
                <!-- /wp:paragraph -->

                <!-- wp:columns {"isStackedOnMobile":false} -->
                <div class="wp-block-columns is-not-stacked-on-mobile"><!-- wp:column {"width":"","layout":{"type":"default"}} -->
                    <div class="wp-block-column"><!-- wp:buttons {"className":"top-button","layout":{"type":"flex","flexWrap":"nowrap"}} -->
                        <div class="wp-block-buttons top-button"><!-- wp:button {"textColor":"base","width":25,"style":{"typography":{"fontStyle":"normal","fontWeight":"800"},"border":{"radius":"0px"},"color":{"background":"#e3000f"}},"className":"is-style-fill","fontSize":"medium"} -->
                            <div class="wp-block-button has-custom-width wp-block-button__width-25 has-custom-font-size is-style-fill has-medium-font-size" style="font-style:normal;font-weight:800"><a class="wp-block-button__link has-base-color has-text-color has-background wp-element-button" style="border-radius:0px;background-color:#e3000f">Termine</a></div>
                            <!-- /wp:button -->
                            <!-- wp:button {"textColor":"base","width":25,"style":{"typography":{"fontStyle":"normal","fontWeight":"700"},"border":{"radius":"0px"},"color":{"background":"#e3000f"}}} -->
                            <div class="wp-block-button has-custom-width wp-block-button__width-25" style="font-style:normal;font-weight:700"><a class="wp-block-button__link has-base-color has-text-color has-background wp-element-button" style="border-radius:0px;background-color:#e3000f">News</a></div>
                            <!-- /wp:button --></div>
                        <!-- /wp:buttons -->

                        <!-- wp:spacer {"height":"1px","style":{"spacing":{"margin":{"top":"var:preset|spacing|30","bottom":"0"}}}} -->
                        <div style="margin-top:var(--wp--preset--spacing--30);margin-bottom:0;height:1px" aria-hidden="true" class="wp-block-spacer"></div>
                        <!-- /wp:spacer --></div>
                    <!-- /wp:column --></div>
                <!-- /wp:columns --></div>
            <!-- /wp:group --></header>
        <!-- /wp:group --></div></div>
    <!-- /wp:cover -->

    <!-- wp:html -->
    <div class="arrow-up"></div>
    <!-- /wp:html --></header>
<!-- /wp:group -->

<!-- wp:heading {"level":1,"align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|60"}}}} -->
<h1 class="wp-block-heading alignwide" style="margin-bottom:var(--wp--preset--spacing--60)">Mindblown: a blog about philosophy.</h1>
<!-- /wp:heading -->

<!-- wp:group {"tagName":"section","style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<section class="wp-block-group" style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--70)"><!-- wp:acf/rtwp-block-themetile {"name":"acf/rtwp-block-themetile","data":{"rtwp_themetile_headline":"Blubber","_rtwp_themetile_headline":"field_rtwp_themetile_headline","rtwp_themetile_title":"Blubber","_rtwp_themetile_title":"field_rtwp_themetile_title","rtwp_themetile_url_intern":"https://wp.matthias-lueth.de","_rtwp_themetile_url_intern":"field_rtwp_themetile_url_intern","rtwp_themetile_urltype":"0","_rtwp_themetile_urltype":"field_rtwp_themetile_urltype"},"mode":"preview"} /-->

    <!-- wp:query {"queryId":0,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"flex","columns":3},"align":"wide","layout":{"type":"constrained"}} -->
    <div class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide"} -->
        <!-- wp:post-featured-image {"isLink":true,"width":"100%","height":"max(15vw, 30vh)","align":"wide"} /-->

        <!-- wp:post-title {"isLink":true} /-->

        <!-- wp:post-excerpt /-->

        <!-- wp:post-date {"isLink":true} /-->

        <!-- wp:spacer {"height":"var(\u002d\u002dwp\u002d\u002dpreset\u002d\u002dspacing\u002d\u002d40)"} -->
        <div style="height:var(--wp--preset--spacing--40)" aria-hidden="true" class="wp-block-spacer"></div>
        <!-- /wp:spacer -->
        <!-- /wp:post-template -->

        <!-- wp:query-pagination {"paginationArrow":"arrow","align":"wide","layout":{"type":"flex","justifyContent":"space-between"}} -->
        <!-- wp:query-pagination-previous {"label":"Newer Posts"} /-->

        <!-- wp:query-pagination-next {"label":"Older Posts"} /-->
        <!-- /wp:query-pagination --></div>
    <!-- /wp:query -->

    <!-- wp:spacer {"height":"var(\u002d\u002dwp\u002d\u002dpreset\u002d\u002dspacing\u002d\u002d60)"} -->
    <div style="height:var(--wp--preset--spacing--60)" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:columns {"align":"wide"} -->
    <div class="wp-block-columns alignwide"><!-- wp:column -->
        <div class="wp-block-column"><!-- wp:paragraph {"style":{"typography":{"lineHeight":"1.2"}},"fontSize":"x-large"} -->
            <p class="has-x-large-font-size" style="line-height:1.2">Hast du irgendwelche Buchempfehlungen?		</p>
            <!-- /wp:paragraph -->

            <!-- wp:buttons -->
            <div class="wp-block-buttons"><!-- wp:button {"fontSize":"small"} -->
                <div class="wp-block-button has-custom-font-size has-small-font-size"><a class="wp-block-button__link wp-element-button">
                    Kontakt aufnehmen				</a></div>
                <!-- /wp:button --></div>
            <!-- /wp:buttons --></div>
        <!-- /wp:column -->

        <!-- wp:column -->
        <div class="wp-block-column"><!-- wp:separator -->
            <hr class="wp-block-separator has-alpha-channel-opacity"/>
            <!-- /wp:separator --></div>
        <!-- /wp:column --></div>
    <!-- /wp:columns --></section>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|50","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--50);margin-bottom:var(--wp--preset--spacing--70)"><!-- wp:heading {"level":1,"align":"wide","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|60"}}}} -->
    <h1 class="wp-block-heading alignwide" style="margin-bottom:var(--wp--preset--spacing--60)">Mindblown: a blog about philosophy.</h1>
    <!-- /wp:heading -->

    <!-- wp:query {"queryId":0,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"displayLayout":{"type":"flex","columns":3},"align":"wide","layout":{"type":"constrained"}} -->
    <div class="wp-block-query alignwide"><!-- wp:post-template {"align":"wide"} -->
        <!-- wp:post-featured-image {"isLink":true,"width":"100%","height":"max(15vw, 30vh)","align":"wide"} /-->

        <!-- wp:post-title {"isLink":true} /-->

        <!-- wp:post-excerpt /-->

        <!-- wp:post-date {"isLink":true} /-->

        <!-- wp:spacer {"height":"var(\u002d\u002dwp\u002d\u002dpreset\u002d\u002dspacing\u002d\u002d40)"} -->
        <div style="height:var(--wp--preset--spacing--40)" aria-hidden="true" class="wp-block-spacer"></div>
        <!-- /wp:spacer -->
        <!-- /wp:post-template -->

        <!-- wp:query-pagination {"paginationArrow":"arrow","align":"wide","layout":{"type":"flex","justifyContent":"space-between"}} -->
        <!-- wp:query-pagination-previous {"label":"Newer Posts"} /-->

        <!-- wp:query-pagination-next {"label":"Older Posts"} /-->
        <!-- /wp:query-pagination --></div>
    <!-- /wp:query -->

    <!-- wp:spacer {"height":"var(\u002d\u002dwp\u002d\u002dpreset\u002d\u002dspacing\u002d\u002d60)"} -->
    <div style="height:var(--wp--preset--spacing--60)" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->

    <!-- wp:columns {"align":"wide"} -->
    <div class="wp-block-columns alignwide"><!-- wp:column -->
        <div class="wp-block-column"><!-- wp:paragraph {"style":{"typography":{"lineHeight":"1.2"}},"fontSize":"x-large"} -->
            <p class="has-x-large-font-size" style="line-height:1.2">Hast du irgendwelche Buchempfehlungen?		</p>
            <!-- /wp:paragraph -->

            <!-- wp:buttons -->
            <div class="wp-block-buttons"><!-- wp:button {"fontSize":"small"} -->
                <div class="wp-block-button has-custom-font-size has-small-font-size"><a class="wp-block-button__link wp-element-button">
                    Kontakt aufnehmen				</a></div>
                <!-- /wp:button --></div>
            <!-- /wp:buttons --></div>
        <!-- /wp:column -->

        <!-- wp:column -->
        <div class="wp-block-column"><!-- wp:separator -->
            <hr class="wp-block-separator has-alpha-channel-opacity"/>
            <!-- /wp:separator --></div>
        <!-- /wp:column --></div>
    <!-- /wp:columns --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"twentytwentythree","tagName":"footer"} /-->